<app-dialog-wrapper [title]="titleForm">
  <form [formGroup]="userForm" class="form-group">
    <mat-form-field class="field-control">
      <mat-label>First Name</mat-label>
      <input matInput [formControl]="firstName" required>
    </mat-form-field>

    <mat-form-field class="field-control">
      <mat-label>Last Name</mat-label>
      <input matInput [formControl]="lastName" required>
    </mat-form-field>

    <mat-form-field class="field-control">
      <mat-label>Shortcut</mat-label>
      <textarea matInput [formControl]="shortcut" required></textarea>
    </mat-form-field>

    <mat-form-field class="field-control">
      <mat-label>Age</mat-label>
      <input matInput type="number" [formControl]="age" min="1" required>
    </mat-form-field>

    <mat-form-field class="field-control">
      <mat-label>Gender</mat-label>
      <mat-select [formControl]="gender" required>
        <mat-option value="f">female</mat-option>
        <mat-option value="m">male</mat-option>
        <mat-option value="u" selected>unspecified</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-control">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email" required>
      <mat-error *ngIf="email.invalid"> {{ getEmailErrorMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field class="field-control">
      <mat-label>Login</mat-label>
      <input matInput [formControl]="login" required>
    </mat-form-field>

    <mat-form-field class="field-control">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" minLength="3" [formControl]="password">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="generatePassword()">Generate new password</button>

  </form>

  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          color="primary"
          [disabled]="userForm.invalid"
          (click)="submit()">
    {{ buttonText }}
  </button>
</app-dialog-wrapper>
