<dialog-wrapper [title]="titleForm">
  <form [formGroup]="form" class="form-group">
    <div class="inputs-container">
      <mat-form-field class="field-control">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="field-control">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <mat-form-field class="field-control" [hintLabel]="shortcut ? 'Proposal' : null">
      <mat-label>Shortcut</mat-label>
      <input matInput formControlName="shortcut">
      <mat-hint align="end" class="hint" (click)="setProposalShortcut()">{{ shortcut }}</mat-hint>
    </mat-form-field>

    <mat-form-field class="field-control">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="f">Female</mat-option>
        <mat-option value="m">Male</mat-option>
        <mat-option value="u" selected>Unspecified</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-control">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="form.value.email.invalid"> {{ getEmailErrorMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field class="field-control">
      <mat-label>Login</mat-label>
      <input matInput formControlName="login">
    </mat-form-field>

    <div class="inputs-container" *ngIf="!isEditMode()">
      <mat-form-field class="field-control password-field">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" minLength="3" formControlName="password">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="generatePassword()" title="Generate new password">
        <mat-icon>{{ 'lock' }}</mat-icon>
      </button>
    </div>

  </form>

  <button mat-raised-button (click)="onCancelClick()">CANCEL</button>
  <button mat-raised-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          color="primary"
          [disabled]="form.invalid"
          (click)="submit()">
    {{ buttonText | uppercase}}
  </button>
</dialog-wrapper>
