<mat-card-header>
  <mat-card-title>{{ task.title }}</mat-card-title>
  <span class="sub-title">created: {{ task.created_date | date: "dd/MM/YYYY hh:mm" }} | updated: {{ task.last_update_date | date: "dd/MM/YYYY hh:mm" }}</span>
</mat-card-header>

<mat-card-content>
  <p>
    {{ task.desc }}
  </p>
  <div class="card-actions">
    <button mat-raised-button color="primary" (click)="onEditButtonClick()">Edit</button>
    <button mat-raised-button color="warn" (click)="onDeleteButtonClick()">Delete</button>
  </div>
</mat-card-content>
