:host-context(body)
  background-color: #3f51b5
  height: 100%
  width: 100%
  display: block

body
  background: #3f51b5

mat-card
  position: absolute
  text-align: center
  width: 350px
  left: 50%
  top: 50%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

mat-form-field
  display: block
