@import "../../../../components/header/header"

tr
  height: 0


.element-row:hover
  background: whitesmoke


.element-row:active
  background: #efefef

.actions-header
  text-align: center
  width: 10%

.action-buttons
  text-align: center
  width: 10%

.page-content
  padding: 20px
